@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 40% 94%; /* بيج صافي هادي بدون أي لمسة بينك */
    --foreground: 19 64% 22%; /* #5b2b14 */
    --card: 0 0% 100%;
    --card-foreground: 19 64% 22%;
    --popover: 0 0% 100%;
    --popover-foreground: 19 64% 22%;
    --primary: 20 60% 38%; /* #9d4e27 */
    --primary-foreground: 0 0% 98%;
    --secondary: 27 52% 65%; /* #d6a378 */
    --secondary-foreground: 19 64% 22%;
    --muted: 21 24% 85%;
    --muted-foreground: 21 24% 57%; /* #ab8a78 */
    --accent: 25 41% 48%; /* #ae7349 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 21 24% 57%; /* #ab8a78 */
    --input: 21 24% 57%;
    --ring: 20 60% 38%;
    --radius: 0.5rem;
    --chart-1: 22 100% 50%;
    --chart-2: 240 5.9% 10%;
  }

  .dark {
    --background: 25 80% 12%; /* بني محروق / لون الإسبريسو */
    --card: 16 53% 4%; /* #100805 */
    --card-foreground: 120 7% 79%; /* #c6cdc6 */
    --popover: 16 53% 4%; /* #100805 */
    --popover-foreground: 120 7% 79%; /* #c6cdc6 */
    --primary: 26 62% 45%; /* #b8682b */
    --primary-foreground: 16 53% 4%; /* #100805 */
    --secondary: 28 28% 36%; /* #775b43 */
    --secondary-foreground: 120 7% 79%; /* #c6cdc6 */
    --muted: 150 11% 17%; /* #26302b */
    --muted-foreground: 111 6% 70%; /* #afb6ae */
    --accent: 25 72% 33%; /* #904a17 */
    --accent-foreground: 120 7% 79%; /* #c6cdc6 */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 120 7% 79%;
    --border: 168 7% 41%; /* #62716e */
    --input: 168 7% 41%; /* #62716e */
    --ring: 26 62% 45%; /* #b8682b */
    --chart-1: 22 100% 60%;
    --chart-2: 0 0% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
